<div class="articles">

  <div class="articles__header">
    <h1 class="articles__header__title">Articles</h1>
    <p class="articles__header__counting">Our blog has <%= Article.public_count %> articles and counting!</p>
  </div>

  <div class="articles__content">
    <ul class="articles__content__list">
      <% @articles.each do |article| %>
        <li class="articles__content__list__item">
          <a href="/articles/<%= article.id %>">
            <p><%= article.title%></p>
            <span><%= article.body %></span>
          </a>  
        </li>
      <% end %>
    </ul>
  </div>

  <div class="articles__footer">
      <%= link_to "New Article", new_article_path %>
  </div>
</div>
